<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Animal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <div th:replace="navbar.html"></div>
</head>
<body>
<div class="container mt-5">
    <h1>Create New Animal Load</h1>
    <form th:action="@{/animal-stream-loader/download-template}" method="post">
        <button type="submit" class="btn-info">Download Excel Template</button>
    </form>
    <br>
    <form action="/animal-stream-loader/create" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="processTypeSelect">Select Animal Stream Process Type:</label>
            <select class="form-control" id="processTypeSelect" name="processType" required="true">
                <option th:each="processTypes : ${processTypes}" th:value="${processTypes}" th:text="${processTypes}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="dataFile">Data file for processing:</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="dataFile" name="dataFile" required="true" onchange="updateFileName()">
                    <label class="custom-file-label" for="dataFile" id="fileLabel">Choose file</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="form-group">
        <a href="/animal-stream-loader/getAll" class="btn btn-secondary">Cancel</a>
    </div>
</div>

<script>
    function updateFileName() {
        const input = document.getElementById('dataFile');
        const label = document.getElementById('fileLabel');
        label.textContent = input.files[0].name;
    }
</script>
</body>
</html>
